
        <!-- [ngClass]="{ 'hidden-step-header-owner' : isRealEstet , 'hidden-step-header-renters' : hideRenter }" -->
        <!-- [ngClass]="{ 'hidden-header-step-1' : hideStep1 }" -->

        <ng-template #stepOne>
          <ng-container *ngFor="let sell of sellHome">
            <div class="row">
              <div class="col-md-12">
                <h4 class="main-heading"> I have</h4>
              </div>
            </div>
            <div class="row align-items-end">
              <div class="col-6 col-sm-6">
                <div matRipple class="ripple-container mat-elevation-z4" (click)="this.stepper.next();changeValue(sell.ihave.realEstet);">
                  {{ sell.ihave.realEstet }}
                </div>
              </div>
              <div class="col-6 col-sm-6">
                <div matRipple class="ripple-container mat-elevation-z4" (click)="this.stepper.next();changeValue(sell.ihave.car);">
                  {{ sell.ihave.car }}
                </div>
              </div>
            </div>
          </ng-container>
        </ng-template>
        
        <ng-template #stepTwo>
          <ng-container *ngIf="this.val == 'Real Estet'">
            <ng-container *ngFor="let sell of sellHome">
              <div class="row">
                <div class="col-md-12">
                  <h4> I have <span class="main-heading">{{ sell.ihave.realEstet }}</span> and i want it </h4>
                </div>
              </div>
              <div class="row align-items-end">
                <div *ngFor="let item of sell.iwant.realEstet" class="col-6 col-sm-6">
                  <div class="ripple-container mat-elevation-z4" matRipple [matRippleColor]="'primary'" (click)="this.stepper.next(); changeValue(item);">
                    {{ item }}
                  </div>
                </div>
              </div>
              <md-step-actions class="row">
                <div class="col-md-12">
                  <button mat-button (click)="stepper.previous();">Back</button>
                </div>
              </md-step-actions>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="this.val == 'Car'">
              <ng-container *ngFor="let sell of sellHome">
                <div class="row">
                  <div class="col-md-12 pb-2">
                    <h4> I have <span class="main-heading">{{ sell.ihave.car }}</span> and i want it </h4>
                  </div>
                </div>
                <div class="row align-items-end">
                  <div *ngFor="let item of sell.iwant.car" class="col-6 col-sm-6">
                    <div class="ripple-container mat-elevation-z4" matRipple [matRippleColor]="'primary'" (click)="this.stepper.next(); changeValue(item);">
                      {{ item }}
                    </div>
                  </div>
                </div>
                <md-step-actions class="row">
                  <div class="col-md-12">
                    <button mat-button (click)="stepper.previous();">Back</button>
                  </div>
                </md-step-actions>
              </ng-container>
            </ng-container>
        </ng-template>
        
        <ng-template #stepThree>
          <div *ngIf="this.val == 'Sell'">
            <div *ngFor="let sell of sellHome">
              <div class="row">
                <div class="col-md-12">
                  <h4> I have a <span class="main-heading">{{ sell.ihave.realEstet }}</span> and i want <span class="main-heading">{{ val }}</span> a </h4>
                </div>
              </div>
              <div class="row align-items-end">
                <div *ngFor="let item of sell.iwant.iSellRealEstet" class="col-6 col-sm-6">
                  <div class="ripple-container mat-elevation-z4" matRipple [matRippleColor]="'primary'" (click)="this.stepper.next(); this.hideLast = false;">
                    {{ item }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button mat-button (click)="stepper.previous(); changeValue(sell.ihave.realEstet);">Back</button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="this.val == 'Rent'">
            <div *ngFor="let sell of sellHome">
              <div class="row">
                <div class="col-md-12">
                  <h4> I have a <span class="main-heading">{{ sell.ihave.realEstet }}</span> and i want <span class="main-heading">{{ val }}</span> a
                      <!-- <span class="main-heading">{{ sell.ihave.renter }}</span> for--></h4> 
                </div>
              </div>
              <div class="row align-items-end">
                <div *ngFor="let item of sell.iwant.iRentRealEstet" class="col-6 col-sm-3">
                  <div class="ripple-container mat-elevation-z4" matRipple [matRippleColor]="'primary'" (click)="this.stepper.next(); this.hideLast = false">
                    {{ item }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button mat-button (click)="stepper.previous(); changeValue(sell.ihave.realEstet);">Back</button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        
        <ng-template #stepFour>
          You are now done.
          <div>
            <button mat-button (click)="stepper.previous()">Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </ng-template>

        




        <ng-template [ngIf]="(isHandset$ | async)" [ngIfElse]="bigScreen">
          <mat-vertical-stepper linear (selectionChange)="stepperOnClick($event)" #stepper>
            <mat-step label="Step 1" state="keyboard_arrow_right">
              <ng-container *ngTemplateOutlet="stepOne"></ng-container>
            </mat-step>
            <mat-step label="Step 2" state="keyboard_arrow_right">
              <ng-container *ngTemplateOutlet="stepTwo"></ng-container>
            </mat-step>
            <mat-step label="Step 3" state="keyboard_arrow_right">
              <ng-container *ngTemplateOutlet="stepThree"></ng-container>
            </mat-step>
            <mat-step state="list_alt">
              <ng-template matStepLabel>Done</ng-template>
              <ng-container *ngTemplateOutlet="stepFour"></ng-container>
            </mat-step>
            <!-- Icon overrides. -->
            <!-- <ng-template matStepperIcon="keyboard_arrow_right">
              <mat-icon>menu</mat-icon>
            </ng-template> -->
          </mat-vertical-stepper>
        </ng-template>

        <ng-template #bigScreen>
          <mat-horizontal-stepper linear (selectionChange)="stepperOnClick($event)" #stepper>
            <mat-step label="Step 1" state="keyboard_arrow_right">
              <ng-container *ngTemplateOutlet="stepOne"></ng-container>
            </mat-step>
            <mat-step label="Step 2" state="keyboard_arrow_right">
              <ng-container *ngTemplateOutlet="stepTwo"></ng-container>
            </mat-step>
            <mat-step label="Step 3" state="keyboard_arrow_right">
              <ng-container *ngTemplateOutlet="stepThree"></ng-container>
            </mat-step>
            <mat-step state="list_alt">
              <ng-template matStepLabel>Done</ng-template>
              <ng-container *ngTemplateOutlet="stepFour"></ng-container>
            </mat-step>
            <!-- Icon overrides. -->
            <!-- <ng-template matStepperIcon="keyboard_arrow_right">
              <mat-icon>menu</mat-icon>
            </ng-template> -->
          </mat-horizontal-stepper>
        </ng-template>





<!-- 

<ng-template [ngIf]="!(isHandset$ | async)" [ngIfElse]="bigScreen">

<mat-horizontal-stepper [linear]="false" class="container  mat-elevation-z12" 
        (selectionChange)="stepperOnClick($event)"
        *ngFor="let sell of sellHome" #stepper>
<mat-step label="Step 1" state="keyboard_arrow_right" (click)="this.isRealEstet = true;">
    <div class="row">
      <div class="col-md-12">
        <h4 class="main-heading"> I am</h4>
      </div>
    </div>
    <md-step-body class="row align-items-end">
      <div class="col-12 col-sm-6">
        <div matRipple class="ripple-container mat-elevation-z4" (click)="this.stepper.next(); this.isRealEstet = false;">
          {{ sell.ihave.owner }}
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div matRipple class="ripple-container mat-elevation-z4" (click)="this.stepper.next(); this.hideRenter = false">
          {{ sell.ihave.renter }}
        </div>
      </div>
    </md-step-body>
  </mat-step>

  <mat-step label="Step 2" state="keyboard_arrow_right">
    <ng-container >
      <div class="row">
        <div class="col-md-12">
          <span> I am <span class="main-heading">{{ sell.ihave.owner }}</span> and i want </span>
        </div>
      </div>
      <div class="row align-items-end">
      <div *ngFor="let item of sell.iwant.owner" class="col-6 col-sm-6">
        <div class="ripple-container mat-elevation-z4" matRipple [matRippleColor]="'primary'" 
        (click)="this.stepper.next(); changeValue(item);">
          {{ item }}
        </div>
      </div>
    </div>
      <md-step-actions class="row">
        <div class="col-md-12">
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </md-step-actions>
    </ng-container>
  </mat-step>

  <mat-step label="Step 3" state="keyboard_arrow_right">
      <ng-container *ngIf="isRealEstet">
        <div class="row">
          <div class="col-md-12">
            <span> I am <span class="main-heading">{{ sell.ihave.owner }}</span> and i want selllll </span>
          </div>
        </div>
        <div class="row align-items-end">
        <div *ngFor="let item of sell.iwant.iSell" class="col-6 col-sm-6">
          <div class="ripple-container mat-elevation-z4" matRipple [matRippleColor]="'primary'" 
          (click)="this.stepper.next(); this.hideLast = false;">
            {{ item }}
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12">
            <button mat-button (click)="hideRenter = false;isRealEstet = true" matStepperPrevious>Back</button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="hideRenter">
        <div class="row">
          <div class="col-md-12">
              <mat-card><span> I am a <span class="main-heading">{{ sell.ihave.renter }}</span> and looking for a new
              <span class="main-heading">{{ sell.ihave.renter }}</span> for</span>
            </mat-card>
          </div>
        </div>
        <div class="row align-items-end">
          <div *ngFor="let item of sell.iwant.iRent" class="col-6 col-sm-3">
            <div class="ripple-container mat-elevation-z4" matRipple [matRippleColor]="'primary'"
              (click)="this.stepper.next(); this.hideLast = false">
              {{ item }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button mat-button (click)="hideRenter = true; isRealEstet = false" matStepperPrevious>Back</button>
          </div>
        </div>
     </ng-container>
  </mat-step>

  <mat-step state="dd">
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
  </mat-step>

  <ng-template matStepperIcon="dd">
    <mat-icon>done</mat-icon>
  </ng-template>

</mat-horizontal-stepper>

</ng-template> -->
