// css for stepper start ****************************

@import '~@angular/material/theming';

@mixin styleStepLine($index) {
    .mat-horizontal-stepper-header {
        &+.mat-stepper-horizontal-line:nth-child(#{$index}) {
            // height: 2px;
            // background-image: linear-gradient(to right, #00b495, #00aeea);
            display: none !important;
        }
    }
  }
// @mixin styleEditedStepIcon($index) {
//     .mat-horizontal-stepper-header:nth-child(#{$index}) {
//         .mat-step-icon:not(.mat-step-icon-selected) {
//             background-color: red; // mat-color($accent, A400);
//         }
//     }
//   }
@mixin styleUnEditedStepIcon($index) {
    .mat-horizontal-stepper-header:nth-child(#{$index}) {
        .mat-step-icon:not(.mat-step-icon-selected) {
            background-color: #e8e8e8;
        }
    }
  }
@mixin styleHiddenStepHeader($index) {
    .mat-step-header:nth-of-type(#{$index}) {
        display: none !important;
    }
}
  // mat-horizontal-stepper-header mat-step-header ng-tns-c26-16 ng-star-inserted
  .last-edited-step-1 {
    @include styleStepLine(2);
    // @include styleEditedStepIcon(1);
    @include styleUnEditedStepIcon(3);
  }
  .last-edited-step-2 {
    @include styleStepLine(2);
    @include styleStepLine(4);
    // @include styleEditedStepIcon(1);
    // @include styleEditedStepIcon(3);
    @include styleHiddenStepHeader(3);
  }

 

  .hidden-step-header-3-4 {
    @include styleHiddenStepHeader(3);
    @include styleHiddenStepHeader(4);
    @include styleStepLine(2);
    @include styleStepLine(4);
    @include styleStepLine(6);
  }
  .hidden-step-header-4 {
    @include styleHiddenStepHeader(4);
    @include styleStepLine(6);
  }

  .hidden-header-step-1 {
    @include styleHiddenStepHeader(2);
    @include styleHiddenStepHeader(3);
    @include styleHiddenStepHeader(4);
    @include styleStepLine(2);
    @include styleStepLine(4);
    @include styleStepLine(6);
  }
  // css for stepper end ********************************

  @mixin abby-sell-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
 
  app-sell {

    .ripple-container {
      cursor: pointer;
      text-align: center;
    
      // width: 100%;
      // outline-width: 100%;
      height: 75px;
      line-height: 75px;
      margin: 0 0 20px 0;
      border-radius: 4px;
      background-color: mat-color($accent, 900, 300);
      color: mat-color($accent, 50);
  
        &:hover {
              background-color: mat-color($accent, darker);
            }
    
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: transparent;
    }


    }
  }
  