
        <!-- [ngClass]="{ 'hidden-step-header-owner' : hideOwner , 'hidden-step-header-renters' : hideRenter }" -->
        <!-- [ngClass]="{ 'hidden-header-step-1' : hideStep1 }" -->
        <mat-horizontal-stepper [linear]="false" class="container  mat-elevation-z12" 
        [ngClass]="{ 'hidden-header-step-1' : hideStep1, 'hidden-step-header-3-4' : ! hideOwner , 'hidden-step-header-4' : hideLast  }" 
        (selectionChange)="stepperOnClick($event)"
        *ngFor="let sell of sellHome" #stepper>

  <mat-step label="Step 1" state="phone" (click)="this.hideOwner = true;">
    <div class="row">
      <div class="col-md-12">
        <h4 class="main-heading"> I am</h4>
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col-12 col-sm-6">
        <div matRipple class="ripple-container mat-elevation-z4" (click)="this.stepper.next(); this.hideOwner = false;">
          {{ sell.iam.owner }}
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div matRipple class="ripple-container mat-elevation-z4" (click)="this.stepper.next(); this.hideRenter = false">
          {{ sell.iam.renter }}
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step label="Step 2" state="chat">
    <ng-container *ngIf="! hideOwner"><!--owner -->
      <div class="row">
        <div class="col-md-12">
          <span> I am <span class="main-heading">{{ sell.iam.owner }}</span> and i want </span>
        </div>
      </div>
      <div class="row align-items-end">
      <div *ngFor="let item of sell.iwant.owner" class="col-6 col-sm-6">
        <div class="ripple-container mat-elevation-z4" matRipple [matRippleColor]="'primary'" 
        (click)="this.stepper.next(); changeValue(item);">
          {{ item }}
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="! hideRenter">
      <div class="row">
        <div class="col-md-12">
          <span> I am a <span class="main-heading">{{ sell.iam.renter }}</span> and looking for a new
            <span class="main-heading">{{ sell.iam.renter }}</span> for</span>
        </div>
      </div>
      <div class="row align-items-end">
        <div *ngFor="let item of sell.iwant.renter" class="col-6 col-sm-3">
          <div class="ripple-container mat-elevation-z4" matRipple [matRippleColor]="'primary'"
            (click)="this.stepper.next(); this.hideRenter = false">
            {{ item }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </div>
    </ng-container> -->
  </mat-step>

  <mat-step label="Step 3">
      <ng-container *ngIf="hideOwner"><!--owner -->
        <div class="row">
          <div class="col-md-12">
            <span> I am <span class="main-heading">{{ sell.iam.owner }}</span> and i want selllll </span>
          </div>
        </div>
        <div class="row align-items-end">
        <div *ngFor="let item of sell.iwant.iSell" class="col-6 col-sm-6">
          <div class="ripple-container mat-elevation-z4" matRipple [matRippleColor]="'primary'" 
          (click)="this.stepper.next(); this.hideLast = false;">
            {{ item }}
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12">
            <button mat-button (click)="hideRenter = false;hideOwner = true" matStepperPrevious>Back</button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="hideRenter"><!--Renter -->
        <div class="row">
          <div class="col-md-12">
              <mat-card><span> I am a <span class="main-heading">{{ sell.iam.renter }}</span> and looking for a new
              <span class="main-heading">{{ sell.iam.renter }}</span> for</span>
            </mat-card>
          </div>
        </div>
        <div class="row align-items-end">
          <div *ngFor="let item of sell.iwant.iRent" class="col-6 col-sm-3">
            <div class="ripple-container mat-elevation-z4" matRipple [matRippleColor]="'primary'"
              (click)="this.stepper.next(); this.hideLast = false">
              {{ item }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button mat-button (click)="hideRenter = true; hideOwner = false" matStepperPrevious>Back</button>
          </div>
        </div>
     </ng-container>
  </mat-step>

  <!-- <mat-step label="Step 4">
    <p>You're welcome.</p>
    <mat-card>Simple card</mat-card>
    <md-step-body>
      <p>Step content</p>
    </md-step-body>
    <md-step-actions>
    </md-step-actions>
  </mat-step> -->

  <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>

</mat-horizontal-stepper>
