
.ripple-container {
    cursor: pointer;
    text-align: center;
  
    width: 100%;
    // outline-width: 100%;
    height: 150px;
    line-height: 150px;
    margin: 15px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
  // ::ng-deep .mat-horizontal-stepper-header-container {
  //   display: none !important;
  // }
//   .row {
//     min-width: 100vh;
// }
@import '../../../styles-variables';

.container {
  margin-top: 20px;
  // width: 800px;
}
@media (min-width: map-get($grid-breakpoints, md)) {
  .container{
    width: 500px;
  }
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}


@media (max-width: map-get($grid-breakpoints, sm)) {
  .container{
    min-width: 100vmax;
    min-height: 100vmax;
  }
}