@import '../../../styles-variables';
// ::ng-deep .mat-horizontal-stepper-header-container {
  //   display: none !important;
  // }
//   .row {
//     min-width: 100vh;
// }
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.container {
  margin-top: 20px;
  // width: 800px;
}
@media (min-width: map-get($grid-breakpoints, sm)) {
  .container{
    width: 500px;
  }
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}


// @media (max-width: map-get($grid-breakpoints, sm)) {
//   .container{
//     // min-width: 100vmax;
//     min-height: 50vmax;
//   }
// }