<div class="jumbotron jumbotron-fluid">

  <div class="container">

    <h1>Appearance</h1>

  </div>

</div>



<div class="container">

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">

    <mat-card fxFlexAlign.gt-xs="center">

      <!-- <mat-card-title>

        Abbys List

      </mat-card-title> -->

      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
        </div>
      </mat-card-subtitle>

      <mat-card-content>

        <ngx-auth-firebaseui (onSuccess)="saveUser($event)" (onError)="handleError($event)" [theme]="themes.FAB"
          [guestEnabled]="true" tosUrl="/legal/tos" privacyPolicyUrl="/legal/privacy" [tabindex]="1" [providers]="[providers.Google, providers.Facebook, providers.Twitter]"
          [messageOnAuthSuccess]="message" [messageOnAuthError]="errorMessage">

        </ngx-auth-firebaseui>

      </mat-card-content>

    </mat-card>

  </div>

</div>