$abby-black-primary: mat-palette($mat-grey, 700, 300, 900);
$abby-black-accent: mat-palette($mat-blue-grey, 400);
$abby-black-warn: mat-palette($mat-red, 500);

$abby-black-theme: mat-dark-theme(
  $abby-black-primary,
  $abby-black-accent,
  $abby-black-warn
);
