$abby-primary: mat-palette($mat-indigo, 800, 300, 900);
$abby-accent: mat-palette($mat-light-blue);
$abby-warn: mat-palette($mat-pink, 600);

$abby-theme: mat-light-theme($abby-primary, $abby-accent, $abby-warn);
