$abby-light-primary: mat-palette($mat-grey, 200, 500, 300);
$abby-light-accent: mat-palette($mat-brown, 200);
$abby-light-warn: mat-palette($mat-deep-orange, 200);

$abby-light-theme: mat-light-theme(
  $abby-light-primary,
  $abby-light-accent,
  $abby-light-warn
);
