$abby-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$abby-nature-accent: mat-palette($mat-deep-purple, 300);
$abby-nature-warn: mat-palette($mat-red, 600);

$abby-nature-theme: mat-light-theme(
  $abby-nature-primary,
  $abby-nature-accent,
  $abby-nature-warn
);
